<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="#"> Treebook</a>
      <ul class="nav">
        <li><%= link_to "All Statusi", statuses_path %></li>
    </div>
  </div>
</div>
